[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
numpy = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
datetime = "*"
spotipy = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
