<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="static/style.css">
		<title>Spotify Song Recommender</title>
	</head>
  <body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-success navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/predictor" class="nav-link">Song Prediction</a>
            <li class="nav-item">
              <a href="/#learn" class="nav-link">Learn More</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>

  <!-- Table with recomendations -->
  <section id="song_table" class="p-3">
    <div class="container">
        <div class="row align-items-center justify-content-between">
          <h2>Here are your top 10 song recommendations:</h2>
          <br>
          <table style="margin-left:auto;margin-right:auto;">
              <tr>
                <th>Song Title</th>
                <th>Artist</th>
                <th>Album</th>
              </tr>
              {% for each in recommendations %}
              <tr>
                <td>{{ each[1] }}</td>
                <td>{{ each[2] }}</td>
                <td>{{ each[3] }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
    </div>
  </section>


  <!-- About Section -->
  <section id="learn" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="static/panel.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>The Parameters Used - </h2>
                <ul class="feature-icons">
                  <li class="icon solid fa-laptop">Acousticness</li>
                  <li class="icon solid fa-bolt">Danceability</li>
                  <li class="icon solid fa-signal">Duration_ms</li>
                  <li class="icon solid fa-cog">Energy</li>
                  <li class="icon solid fa-map-marker-alt">Instrumentalness</li>
                  <li class="icon solid fa-code">Liveness</li>
                  <li class="icon solid fa-laptop">Loudness</li>
                  <li class="icon solid fa-bolt">Speechiness</li>
                  <li class="icon solid fa-signal">Tempo</li>
                  <li class="icon solid fa-cog">Valence</li>
                  <li class="icon solid fa-map-marker-alt">Genre</li>
                  <li class="icon solid fa-code">Key</li>
                  <li class="icon solid fa-laptop">Mode</li>
                  <li class="icon solid fa-bolt">Time_signature</li>
                </ul>
                <a href="/predictor" class="btn btn-success mt-3">
                <i class="bi bi-chevron-right"></i> Predict More?
                </a>
            </div>
        </div>
    </div>
  </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-ralative">
      <div class="container">
          <p class="lead">Copyright &copy; 2021 Spotify Build Week Team</p>
      </div>
  </footer>

  </body>
</html>