{% extends "home.html" %}

{% block content %}
<br>
<br>
<br>
<h2>Here are your top 10 song recommendations:</h2>
<h2 style="color:red">
    <strong>{{ message }}</strong>
</h2>
<br>
<table style="margin-left:auto;margin-right:auto;">
    <tr>
      <th>Song Title</th>
      <th>Artist</th>
      <th>Album</th>
    </tr>
    {% for each in recommendations %}
    <tr>
      <td>{{ each[1] }}</td>
      <td>{{ each[2] }}</td>
      <td>{{ each[3] }}</td>
    </tr>
    {% endfor %}
  </table>

  <!-- Section -->
  <br>
  <br>
  <br>
  <section>
    <header>
        <h2>Parameters Used in Model</h2>
    </header>
    <div class="content">
        <p><strong>What are the parameters used to determine a song's audio features?</strong> </p>
        <ul class="feature-icons">
            <li class="icon solid fa-laptop">acousticness</li>
            <li class="icon solid fa-bolt">danceability</li>
            <li class="icon solid fa-signal">duration_ms</li>
            <li class="icon solid fa-cog">energy</li>
            <li class="icon solid fa-map-marker-alt">instrumentalness</li>
            <li class="icon solid fa-code">liveness</li>
            <li class="icon solid fa-laptop">loudness</li>
            <li class="icon solid fa-bolt">speechiness</li>
            <li class="icon solid fa-signal">tempo</li>
            <li class="icon solid fa-cog">valence</li>
            <li class="icon solid fa-map-marker-alt">genre</li>
            <li class="icon solid fa-code">key</li>
            <li class="icon solid fa-laptop">mode</li>
            <li class="icon solid fa-bolt">time_signature</li>
        </ul>
        <p>With these factors we are able to find the songs closest to your input.</p>
    </div>
</section>
{% endblock %}